extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Jerry L Hoover

        p.lead.text-light
          | Teacher. Creator. Full Stack Developer.

        .portfolio-bio
          p
            | In October of this year, Jerry earned a Front End Dev Techdegree from Team Treehouse. Currently, he is working on a Full Stack Techdegree. He hopes to be gainfully employed writing code and building amazing things. His dream job is to work for a shop that creates web sites for clients, so that he will have a new and different challenge with each project! 

          img.biglogo(src='./static/images/jlh-logo.svg')
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li SASS
          li Javascript
          li Jquery
          li Node.js
          li Express
          li Pug
          li Version Control
          li A dash of PHP

        h6 Contact Info

        ul
          li 832-335-8071
          li jerry.hoover@ymail.com

        a.button.expanded(href='https://www.linkedin.com/in/jerry-hoover-tbd/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/realjhoo' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/RealJHoo' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  